<?xml version='1.0' encoding='utf-8'?>
<widget id="com.algonquin.rach0022.playr" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rach0022-Playr</name>
    <description>
        This cordova Android app will be a SPA that shows a scrollable playlist of audio files.
    </description>
    <author email="rach0022@algonquinlive.com" href="http://www.rach0022.github.io">
        Ravi Rachamalla
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:6138698795" />
    <allow-intent href="sms:6138698795" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <!-- adaptive icons for android  -->
        <icon background="res\icon\android\icon-background\playr-icon-bg-ldpi.png" density="ldpi" foreground="res\icon\android\icon-foreground\playr-icon-fg-ldpi.png" />
        <icon background="res\icon\android\icon-background\playr-icon-bg-mdpi.png" density="mdpi" foreground="res\icon\android\icon-foreground\playr-icon-fg-mdpi.png" />
        <icon background="res\icon\android\icon-background\playr-icon-bg-hdpi.png" density="hdpi" foreground="res\icon\android\icon-foreground\playr-icon-fg-hdpi.png" />
        <icon background="res\icon\android\icon-background\playr-icon-bg-xhdpi.png" density="xhdpi" foreground="res\icon\android\icon-foreground\playr-icon-fg-xhdpi.png" />
        <icon background="res\icon\android\icon-background\playr-icon-bg-xxhdpi.png" density="xxhdpi" foreground="res\icon\android\icon-foreground\playr-icon-fg-xxhdpi.png" />
        <icon background="res\icon\android\icon-background\playr-icon-bg-xxxhdpi.png" density="xxxhdpi" foreground="res\icon\android\icon-foreground\playr-icon-fg-xxxhdpi.png" />

        <!-- splashscreens for landscape  -->
         <splash src="res\splashscreen\android\playr-splashscreen-Landscape-ldpi.png" density="land-ldpi"/>
         <splash src="res\splashscreen\android\playr-splashscreen-Landscape-mdpi.png" density="land-mdpi"/>
         <splash src="res\splashscreen\android\playr-splashscreen-Landscape-hdpi.png" density="land-hdpi"/>
         <splash src="res\splashscreen\android\playr-splashscreen-Landscape-xhdpi.png" density="land-xhdpi"/>
         <splash src="res\splashscreen\android\playr-splashscreen-Landscape-xxhdpi.png" density="land-xxhdpi"/>
         <splash src="res\splashscreen\android\playr-splashscreen-Landscape-xxxhdpi.png" density="land-xxxhdpi"/>
        <!-- splash screens for portrait  -->
        <splash src="res\splashscreen\android\playr-splashscreen-Portrait-ldpi.png" density="port-ldpi"/>
        <splash src="res\splashscreen\android\playr-splashscreen-Portrait-mdpi.png" density="port-mdpi"/>
        <splash src="res\splashscreen\android\playr-splashscreen-Portrait-hdpi.png" density="port-hdpi"/>
        <splash src="res\splashscreen\android\playr-splashscreen-Portrait-xhdpi.png" density="port-xhdpi"/>
        <splash src="res\splashscreen\android\playr-splashscreen-Portrait-xxhdpi.png" density="port-xxhdpi"/>
        <splash src="res\splashscreen\android\playr-splashscreen-Portrait-xxxhdpi.png" density="port-xxxhdpi"/>
        <!-- splash screen parameters like how long it displays and if it displays  -->
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="SplashMaintainAspectRatio" value="false" />
        <preference name="FadeSplashScreen" value="true"/>
        <preference name="FadeSplashScreenDuration" value="750"/>
        <preference name="ShowSplashScreenSpinner" value="true"/>
        <preference name="SplashScreenSpinnerColor" value="white" />

    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
