@import 'variables';
@import 'mixins';
// font families reminder:
// font-family: 'Play', sans-serif; (body text)
// font-family: 'Roboto Slab', serif; (headings)
//starter css code taken from simple spa demo
//selector for all elements, setting the font to play
*{
    font-family: 'Play', sans-serif;
    color: $light-shade;
    //setting overflow x to none so the page wont go left or right
    overflow-x: hidden;
}
html{
    //setting the base font size for my application
    font-size: 16px;
}

//selector for all heading types to change to serif
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Slab', serif;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: sans-serif;
    background-color: $brand-accent;
}
main {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
//start of css for the header
header{
    top: 0;
    height: 10vh;
    position: fixed;
    width: 100%;
    background-color: $brand-color;
    text-align: left;
    box-shadow: 2px 2px 10px $shadow-color;
    overflow-y: hidden;
    h3{
        padding-left: 20vw;
        font-size: 1.4em;
        position: relative;
        top: 4px;
        color: $text-bg;
        em{
            color: $text-bg;
        }
        @media #{$tablet_query}{
            top: -8px;
        }
    }
    @media #{$tablet_query}{
        height: auto;
    }



    //needs to be above 100
    z-index: 105;
}
//start of css for the player controls
.player-controls{
    position: fixed;
    top: 78vh;
    width: 100%;
    background-color: $brand-color;
    //need to change the z index so it is above the page (100)
    z-index: 1000;

    //flex properties
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    //paddings borders and margins for the player controls


    
    .progress{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-weight: 700;
        p{
            color: $text-bg;
        }

        //styles for the progress div
        .progressbar{
            // background-color: red;
            align-self: center;
            position: relative;
            top: -4px;
            progress{
                background-color: $text-bg;
                width: 200px;
                height: 10px;
            }
        }
    }
    //styles for the playback controls:
    .playback-controls{
        display: flex;
        width: 100%;
        height: auto;
        overflow: visible;
        @include center;
        flex-direction: row;
        #play-pause-btn{
            @include circular-w-h(60px);
            

        }
        #rew-btn{
            margin-right: 18vw;
            @include circular-w-h(40px);
        }
        #ff-btn{
            margin-left: 18vw;
            @include circular-w-h(40px);

        }
    }
    @media #{$tablet_query}{
        top: 60vh;
    }
}
.page {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s linear;
}
.page:last-child {
    border: none;
}
.page.active {
    opacity: 1;
    z-index: 100;
}
#songlist {
    background-color: $brand-accent;
    top: 15vh;
    #songs{
        display: flex;
        flex-direction: column;
        font-size: 16px;
        background-color: $brand-accent;

        //putting padding on the bottom of the songs so we 
        //are able to scroll past the player controls
        margin-bottom: 40vh;
        width: 80%;
        @media #{$tablet_query}{
            margin-top: 10vh;
        }

        .song{
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            max-height: 100px;
            background-color: $analogous-omega;
            box-shadow: 2px 2px 10px $shadow-color;
            #detail-wrapper{ 
                p{
                    padding-top: 6px;
                    margin: 0 auto;
                    margin-top: 0 auto;
                    margin-bottom: 0 auto;
                }
            }
            //styling for the image for each song
            img{
                width: 100px;
                height: 100px;
                float: left;
                // border-radius: 10px;
            }
        }
        
    }
}

#currentsong {
    text-align: center;
    margin: 0 auto;
    top: 15vh;
    .wrapper{
        //start of css for volume controls
        .volume-controls{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 85vw;
            #up-btn, #down-btn{
                @include circular-w-h(55px);
                font-size: 1.2em;
                border: 3px solid $text-bg;
            }
            // switching to display none becuase I cannot fit them into
            //my design them yet
            display: none;
        }

        //start of css for the song info on the current song page:
        #songinfo{
            // background-color: $dark-shade;
            #album-art{
                width: 100%;
                height: auto;
                box-shadow: 2px 2px 10px $shadow-color;
            }
            p{
                position: absolute;
                top: 50vh;
                background-color: $text-bg;
                border-radius: 5px;
                margin: 0;
                box-shadow: 2px 2px 4px $shadow-color;
                @media #{$tablet_query}{
                    top: 20vh;
                }
            }
            #title{
                top: 43vh;
                @media #{$tablet_query}{
                    top: 30vh;
                }
            }
        }
        
    }
}

//selector for just the ticker text:
.ticker{
    // position: relative;
    // left: 25px;
    width: 100%;
    height: 35px;
    font-weight: 700;
    font-size: 1.2em;
    padding-top: 4vh;
    margin-bottom: 110px;
    overflow: hidden;
    color: $text-bg;


    //this method to fix this was taken from
    //https://stackoverflow.com/questions/7546389/css-overflow-only-1-line-of-text
    white-space: nowrap;
}

//selector for button elements so i can style them
//according to the android material design specifications
button{
    border-radius: 100%;
    border: none;
    font-size: 1.3em;
    text-align: center;
    background: transparent;
    border: 1px solid $text-bg;
    box-shadow: 0 2px 3px $text-bg;
    outline: none;
    @include center();
    i{
        color: $text-bg;
    }
}
#pagelink{
    position: fixed;
    top: 3vh;
    left: 3vw;
    // transform: scale(2);
    border: 2px solid $text-bg;
    z-index: 1111;
    @include circular-w-h(40px)
}

@media #{$tablet_query}{
    // main{
    //     background-color: black;
    // }
}