/* roboto-slab-100 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("./google-fonts/roboto-slab-v10-latin-100.woff2") format("woff2"), url("./google-fonts/roboto-slab-v10-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./google-fonts/roboto-slab-v10-latin-regular.woff2") format("woff2"), url("./google-fonts/roboto-slab-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-900 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("./google-fonts/roboto-slab-v10-latin-900.woff2") format("woff2"), url("./google-fonts/roboto-slab-v10-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* play-regular - latin */
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play Regular"), local("Play-Regular"), url("./google-fonts/play-v11-latin-regular.woff2") format("woff2"), url("./google-fonts/play-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* play-700 - latin */
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: local("Play Bold"), local("Play-Bold"), url("./google-fonts/play-v11-latin-700.woff2") format("woff2"), url("./google-fonts/play-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  font-family: "Play", sans-serif;
  color: #f4f2ed;
  font-size: 16px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #98d6db;
}

main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: #888d84;
  text-align: center;
  z-index: 105;
}

.player-controls {
  position: fixed;
  top: 78vh;
  width: 100%;
  background-color: #3d65bd;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player-controls .progress {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.player-controls .playback-controls {
  display: flex;
}

.page {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s linear;
}

.page:last-child {
  border: none;
}

.page.active {
  opacity: 1;
  z-index: 100;
}

#songlist {
  background-color: #98d6db;
  top: 15vh;
}
#songlist #songs {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: #7d6e75;
  padding-bottom: 40vh;
}
#songlist #songs .song {
  padding-bottom: 10px;
}
#songlist #songs img {
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 10px #3d65bd;
}

#currentsong {
  text-align: center;
  margin: 0 auto;
  top: 15vh;
}
#currentsong .volume-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 85vw;
}
#currentsong #songinfo {
  font-size: 200px;
}
#currentsong #album-art {
  width: 250px;
  height: 250px;
}

.ticker {
  width: 200px;
  height: 35px;
  margin-bottom: 100px;
  overflow: hidden;
  white-space: nowrap;
}

/*# sourceMappingURL=style.css.map */
