/* roboto-slab-100 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: local(""), url("./google-fonts/roboto-slab-v10-latin-100.woff2") format("woff2"), url("./google-fonts/roboto-slab-v10-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./google-fonts/roboto-slab-v10-latin-regular.woff2") format("woff2"), url("./google-fonts/roboto-slab-v10-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-900 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("./google-fonts/roboto-slab-v10-latin-900.woff2") format("woff2"), url("./google-fonts/roboto-slab-v10-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* play-regular - latin */
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 400;
  src: local("Play Regular"), local("Play-Regular"), url("./google-fonts/play-v11-latin-regular.woff2") format("woff2"), url("./google-fonts/play-v11-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* play-700 - latin */
@font-face {
  font-family: "Play";
  font-style: normal;
  font-weight: 700;
  src: local("Play Bold"), local("Play-Bold"), url("./google-fonts/play-v11-latin-700.woff2") format("woff2"), url("./google-fonts/play-v11-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  font-family: "Play", sans-serif;
  color: #f4f2ed;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}

body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #67a5a9;
}

main {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  top: 0;
  height: 10vh;
  position: fixed;
  width: 100%;
  background-color: #98d6db;
  text-align: left;
  box-shadow: 2px 2px 10px #67a5a9;
  overflow-y: hidden;
  z-index: 105;
}
header h3 {
  padding-left: 20vw;
  font-size: 1.4em;
  position: relative;
  top: 4px;
  color: #543dbd;
}
header h3 em {
  color: #543dbd;
}

.player-controls {
  position: fixed;
  top: 78vh;
  width: 100%;
  background-color: #98d6db;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.player-controls .progress {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-weight: 700;
}
.player-controls .progress p {
  color: #543dbd;
}
.player-controls .progress .progressbar {
  align-self: center;
  position: relative;
  top: -4px;
}
.player-controls .progress .progressbar progress {
  background-color: #543dbd;
  width: 200px;
  height: 10px;
}
.player-controls .playback-controls {
  display: flex;
  width: 100%;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.player-controls .playback-controls #play-pause-btn {
  width: 60px;
  height: 60px;
}
.player-controls .playback-controls #rew-btn {
  margin-right: 18vw;
  width: 40px;
  height: 40px;
}
.player-controls .playback-controls #ff-btn {
  margin-left: 18vw;
  width: 40px;
  height: 40px;
}

.page {
  box-sizing: border-box;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.4s linear;
}

.page:last-child {
  border: none;
}

.page.active {
  opacity: 1;
  z-index: 100;
}

#songlist {
  background-color: #67a5a9;
  top: 15vh;
}
#songlist #songs {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  background-color: #67a5a9;
  margin-bottom: 40vh;
  width: 80%;
}
#songlist #songs .song {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  max-height: 100px;
  background-color: #543dbd;
  box-shadow: 2px 2px 10px #67a5a9;
}
#songlist #songs .song #detail-wrapper p {
  padding-top: 6px;
  margin: 0 auto;
  margin-top: 0 auto;
  margin-bottom: 0 auto;
}
#songlist #songs .song img {
  width: 100px;
  height: 100px;
  float: left;
}

#currentsong {
  text-align: center;
  margin: 0 auto;
  top: 15vh;
}
#currentsong .wrapper .volume-controls {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 85vw;
  display: none;
}
#currentsong .wrapper .volume-controls #up-btn, #currentsong .wrapper .volume-controls #down-btn {
  width: 55px;
  height: 55px;
  font-size: 1.2em;
  border: 3px solid #543dbd;
}
#currentsong .wrapper #songinfo #album-art {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 10px #67a5a9;
}
#currentsong .wrapper #songinfo p {
  position: absolute;
  top: 50vh;
  background-color: #543dbd;
  border-radius: 5px;
  margin: 0;
  box-shadow: 2px 2px 4px #67a5a9;
}
#currentsong .wrapper #songinfo #title {
  top: 43vh;
}

.ticker {
  width: 100%;
  height: 35px;
  font-weight: 700;
  font-size: 1.2em;
  padding-top: 4vh;
  margin-bottom: 110px;
  overflow: hidden;
  color: #543dbd;
  white-space: nowrap;
}

button {
  border-radius: 100%;
  border: none;
  font-size: 1.3em;
  text-align: center;
  background: transparent;
  border: 1px solid #543dbd;
  box-shadow: 0 2px 3px #543dbd;
  outline: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button i {
  color: #543dbd;
}

#pagelink {
  position: fixed;
  top: 3vh;
  left: 3vw;
  border: 2px solid #543dbd;
  z-index: 1111;
  width: 40px;
  height: 40px;
}

/*# sourceMappingURL=style.css.map */
